
.heroSection {
  position: relative;
   overflow: hidden;
  padding-top: 4rem;
  right: 0; 
  gap: 2rem;
  background: linear-gradient(to bottom right, #000000, var(--color-bg-dark));
  color: var(--color-text-main);
}

 .logoContainer {
  position: absolute; 
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 50;
  flex-shrink: 0;
  margin: 0;
}

.logoBox {
  background-color: var(--color-accent);
  padding: 1rem 1.5rem 1rem 1rem;
  min-height: 72px;
}

.hamburgerBox {
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  min-height: 72px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.heroContent {
  margin-top:6%;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  width: 60%;
}


.hamburgerBox button:hover {
  background-color: var(--color-primary-hover);
}


.logoContainer a {
  @apply transition hover:text-[var(--color-accent)];
}

.logoContainer a:visited {
  color: var(--color-text-muted);
}

.logoContainer a:active {
  color: var(--color-primary-hover);
}

/* ✅ Ensure .ctaButton text stays white, including visited */
.ctaButton a {
  color: var(--color-accent)
}
.ctaButton:visited {
  color: var(--color-text-main)
}
.ctaButton:active {
    color: var(--color-primary-hover);

}
.ctaButton:hover {
  background-color: var(--color-accent);
  color: var(--color-text-main);
}


@media (max-width: 768px) {
  .heroSection {
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }

  .heroContent {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .logoContainer {
     position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
    
  }
  .logoBox {
    width: 100%;
    text-align: center;
  }
  .hamburgerBox {
    /* width: 100%; */
    text-align: center;
  }
  .ctaButton {
    width: auto;
    align-items: center;
    justify-content: center;
  }
}

